.footer {
  padding: 4em 2em 2.25em 2em;
  @include notebook {
    padding: 5em 0 10em 0;
  }
  &__container {
    @include notebook {
      max-width: 1114px;
      margin: 0 auto;
    }
  }
  &__title {
    font: bold 2em $primary-font;
    color: $black;
    line-height: 46px;
    letter-spacing: 0.015em;
    margin-bottom: 1.75rem;
    @include notebook {
      margin-bottom: 2.5em;
      margin-left: 3em;
    }
  }
  &__text {
    font: 400 0.875em $primary-font;
    color: $black;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.015em;
    p {
      margin: 1em 0;
    }
    @include notebook {
      font-size: 1.25em;
      line-height: 30px;
    }
  }
}
