.button {
  display: block;
  width: max-content;
  height: auto;
  font: 400 1em $secondary-font;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.5rem; 
  cursor: pointer;
  outline: none;
  border: none;
}

.button__secondary--gray {
  font: 700 1em $secondary-font;
  color: $gray-darkest;
  padding: 0.5em 1em;
  background-color: $white;
  border: 1px solid $gray-darkest;
  border-radius: 0.625rem;
}