$black  : #000000;
$white  : #ffffff;

/* Brand */
$brand          : #E8175D;
$brand-dark     : #DEBFCA;
$brand-light    : #FFD1E0;
$brand-lightest : rgba(255, 209, 224, 0.3);

/* Gray Scale */
$darkest  : #363636;
$darker   : #636363;
$dark     : #9B9B9B;
$light    : #C4C4C4;
$lighter  : #ECECEC;
$lightest : #F4F4F4;

/* Others Colors */
$gray-darkest : #B2B2B2;
$gray-dark  : #909090;
$gray-light : #DDDDDD;

/* Gradients */
$gradient-brand : linear-gradient(180deg, #EC1F64 0%, #FF4483 100%);
$gradient-black :  linear-gradient(94.29deg, #363636 -4.56%, #484848 105.92%);