
.button__secondary {
  @extend .button;
  font: 700 1em $secondary-font;
  color: $brand;
  padding: 0.5em 1em;
  background-color: $white;
  border: 1px solid $brand;
  filter: drop-shadow(0px 0px 1.47649px #F21B8E);
  border-radius: 0.4em;
}

.button__secondary_gray {
  @extend .button;
  font: 700 1em $secondary-font;
  color: $gray-darkest;
  padding: 0.5em 1em;
  background-color: $white;
  border: 1px solid $gray-darkest;
  border-radius: 0.4em;
}